/* body and text stuff */
body {
  background: #463F3A;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 100px;
  text-align: center;
  color: #F4F3EE;
  font-family: sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 50px;
  text-align: center;
  color: #F4F3EE;
  font-family: sans-serif;
}

.text-block {
  font-size: 25px;
  text-align: center;
  background-color: #F4F3EE;
  color: black;
  font-family: sans-serif;
  width: 50%;
  padding: 10px;
  font-weight: bold;
  /* centers */
  margin-left: auto;
  margin-right: auto;
}

/* product cards stuff */
.card-text {
  font-size: 35px;
  text-align: center;
  color: #383838;
  font-family: sans-serif;
  margin-top: 5px;
}

.card-image {
  width: 90%;
  /* Center Images */
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  /* Borders */
  border-bottom-color: #383838;
}

.card {
  background: white;
  width: 20%;
  height: 20%;
  /* Margin Stuffs + Floats */
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}

/* navbar stuff */
.navbar {
  /* removes the bullet point */
  list-style-type: none;
  /* IDK what this does but it works for some reason so thats good */
  overflow: hidden;
  /* color */
  background-color: black;
  /* makes the bar stay at top of page and aligns links*/
  margin: 0px;
  padding: 0px;
  position: sticky;
  top: 0;
}

.navbar-item {
  float: left;
  font-family: sans-serif;
  font-weight: bold;
}

.navbar-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* misc */
a, a:visited {
  color: rgba(0, 0, 0, 0);
  /* removes that ugly blue line */
}